{{ form_start(form) }}

    {{ form_widget(form) }}
<button class="btn btn-brand m-btn m-btn--icon">
                <span>
                    <i class="la la-save"></i>
                    <span>Enregistrer</span>
                </span>
</button>
<a href="{{ path('product_show') }}">
    <button class="btn btn-secondary m-btn m-btn--icon" type="button">
                    <span>
                        <i class="fa fa-arrow-circle-left"></i>
                        <span>{{ "Retour à la liste"|trans}}</span>
                    </span>
    </button>
</a>
{{ form_end(form) }}