{% extends 'base.html.twig' %}
{% block body %}
    <table id="price" class="table table-striped table-bordered">
        <thead>
        <th>Vendeur</th>
        <th>Etat du produit</th>
        <th>Prix</th>
        </thead>
        <tbody>
        {% for item in products %}
            <tr>
                <td>{{ item.vendeur }}</td>
                {% if item.etat == 5 %}
                <td>Neuf</td>
                {% elseif item.etat ==  4 %}
                <td>Comme neuf</td>
                {% elseif item.etat == 3 %}
                <td>Très bon état</td>
                {% elseif item.etat == 2 %}
                <td>Bon état</td>
                {% elseif item.etat ==  1 %}
                <td>Etat moyen</td>
                {% endif %}
                <td>{{ item.prix }} €
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('product_new') }}">
        <button class="btn btn-secondary m-btn m-btn--icon" type="button">
            Ajouter un produit
        </button>
    </a>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
    $('#price').DataTable();
    } );
    </script>
{% endblock %}