<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pricing!{% endblock %}</title>

        <link href=" {{ asset('assets/css/bootstrap.css') }}" type="text/css"/>
        <link href=" {{ asset('assets/css/dataTables.bootstrap4.min.css') }}" type="text/css"/>
        <script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-3.3.1.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
